html{
  font-size: 62.5%;
  line-height: 1.5rem;
  font-family: Roboto, sans-serif;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  font-weight: normal;
}
.bg-gradient-primary-to-secondary{
  background: linear-gradient(135deg, #1e30fe 0%, #e21e80 100%);
}
.text-gradient{
  background: linear-gradient(135deg, #1e30fe 0%, #e21e80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.profile {
  position: relative;
  height: 75vw;
  width: 75vw;
  border-radius: 5vw;
  margin-top: 5vw;
  max-height: 40rem;
  max-width: 40rem;
}
.text-pink{
  color: #e21e80;
}
.lead{
  font-style: 1.25rem;
}
@media (min-width: 576px) {
  .profile {
      height: 60vw;
      width: 60vw;
  }
}
@media (min-width: 768px) {
  .profile {
      height: 50vw;
      width: 50vw;
  }
}
@media (min-width: 992px) {
  .profile {
      height: 40vw;
      width: 40vw;
  }
}
@media (min-width: 1200px) {
  .profile {
      height: 35vw;
      width: 35vw;
  }
}

.profile .profile-img {
  height: 80vw;
  max-height: 45rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 576px) {
  .profile .profile-img {
      height: 65vw;
  }
}
@media (min-width: 768px) {
  .profile .profile-img {
      height: 55vw;
  }
}
@media (min-width: 992px) {
  .profile .profile-img {
      height: 45vw;
  }
}
@media (min-width: 1200px) {
  .profile .profile-img {
      height: 40vw;
  }
}
.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}